In [7]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df=pd.read_csv("assets/mlb.csv")
nhl_df=pd.read_csv("assets/nhl.csv")
nba_df=pd.read_csv("assets/nba.csv")
nfl_df=pd.read_csv("assets/nfl.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

In [8]:

def mlb(): 
    # YOUR CODE HERE
    global mlb_df
    global cities
    cities.replace("^[\s*—*\ *]$",np.nan,regex = True,inplace = True)
    cities.replace("\[.*\]","",regex = True,inplace = True)
    cities.replace("^$",np.nan,regex = True,inplace = True)
    cities["Metropolitan area"] = cities["Metropolitan area"].str.strip()
    cities.iloc[13,2] = np.nan
    def city_associate(row):
        if len(row["team"].split(" ")) == 2:
            row["Metropolitan area"] = row["team"].split(" ")[0]
        if re.search("New York",row["team"]) or re.search("New Jersey",row["team"]):
            row["Metropolitan area"] = "New York City"
        if re.search("Los Angeles",row["team"]) or re.search("Anaheim",row["team"]):
            row["Metropolitan area"] = "Los Angeles"
        if re.search("Toronto",row["team"]):
            row["Metropolitan area"] = "Toronto"
        if re.search("Detroit",row["team"]):
            row["Metropolitan area"] = "Detroit"
        if re.search("Tampa",row["team"]):
            row["Metropolitan area"] = "Tampa Bay Area"
        if re.search("Columbus",row["team"]):
            row["Metropolitan area"] = "Columbus"
        if re.search("San Jose",row["team"]) or re.search("Oakland",row["team"]) or re.search("San Francisco",row["team"]):
            row["Metropolitan area"] = "San Francisco Bay Area"
        if re.search("St. Louis",row["team"]):
            row["Metropolitan area"] = "St. Louis"
        if re.search("Vegas",row["team"]):
            row["Metropolitan area"] = "Las Vegas"
        if re.search("Texas Rangers",row["team"]):
            row["Metropolitan area"] = "Dallas–Fort Worth"
        if re.search("Chicago",row["team"]):
            row["Metropolitan area"] = "Chicago"
        if re.search("Kansas City",row["team"]):
            row["Metropolitan area"] = "Kansas City"
        if re.search("San Diego",row["team"]):
            row["Metropolitan area"] = "San Diego"
        if re.search("Boston",row["team"]):
            row["Metropolitan area"] = "Boston"
        return row
    mlb_df = mlb_df.apply(city_associate,axis = 1)
    mlb_df["Metropolitan area"] = mlb_df["Metropolitan area"].replace("Dallas","Dallas–Fort Worth")
    mlb_df["Metropolitan area"] = mlb_df["Metropolitan area"].replace("Carolina","Raleigh")
    mlb_df["Metropolitan area"] = mlb_df["Metropolitan area"].replace("Colorado","Denver")
    mlb_df["Metropolitan area"] = mlb_df["Metropolitan area"].replace("Arizona","Phoenix")
    mlb_df["Metropolitan area"] = mlb_df["Metropolitan area"].replace("Florida","Miami–Fort Lauderdale")
    mlb_df["Metropolitan area"] = mlb_df["Metropolitan area"].replace("Miami","Miami–Fort Lauderdale")
    mlb_df["Metropolitan area"] = mlb_df["Metropolitan area"].replace("Minnesota","Minneapolis–Saint Paul")
    mlb_df["Metropolitan area"] = mlb_df["Metropolitan area"].replace("Washington","Washington, D.C.")
    mlb_df = mlb_df[mlb_df["year"] == 2018]

    ratioTable = pd.merge(cities,mlb_df,how = "inner",on = "Metropolitan area")
    ratioTable = ratioTable[["Metropolitan area","Population (2016 est.)[8]","W","L"]]
    def calc_wl_ratio(group):
            ratio = np.sum(group["W"].astype(float))/(np.sum(group["W"].astype(float)) + np.sum(group["L"].astype(float)))
            num = group.shape[0]
            return pd.Series({
                "Metro" : group["Metropolitan area"].iloc[0],
                "wl_ratio" : ratio,
                "population" : group["Population (2016 est.)[8]"].iloc[0],
                "num" : num
            })
    ratioTable = ratioTable.groupby("Metropolitan area").apply(calc_wl_ratio).reset_index(drop = True)

    ratioTable = ratioTable.set_index("Metro")
    

    return ratioTable

In [9]:
def nfl(): 
    global nfl_df
    global cities
    # YOUR CODE HERE
    cities.replace("^[\s*—*\ *]$",np.nan,regex = True,inplace = True)
    cities.replace("\[.*\]","",regex = True,inplace = True)
    cities.replace("^$",np.nan,regex = True,inplace = True)
    cities["Metropolitan area"] = cities["Metropolitan area"].str.strip()
    cities.iloc[13,2] = np.nan
    def city_associate(row):
        if len(row["team"].split(" ")) == 2:
            row["Metropolitan area"] = row["team"].split(" ")[0]
        if re.search("New York",row["team"]) or re.search("New Jersey",row["team"]):
            row["Metropolitan area"] = "New York City"
        if re.search("Los Angeles",row["team"]) or re.search("Anaheim",row["team"]):
            row["Metropolitan area"] = "Los Angeles"
        if re.search("Toronto",row["team"]):
            row["Metropolitan area"] = "Toronto"
        if re.search("Detroit",row["team"]):
            row["Metropolitan area"] = "Detroit"
        if re.search("Tampa",row["team"]):
            row["Metropolitan area"] = "Tampa Bay Area"
        if re.search("Columbus",row["team"]):
            row["Metropolitan area"] = "Columbus"
        if re.search("San Jose",row["team"]) or re.search("Oakland",row["team"]) or re.search("San Francisco",row["team"]):
            row["Metropolitan area"] = "San Francisco Bay Area"
        if re.search("St. Louis",row["team"]):
            row["Metropolitan area"] = "St. Louis"
        if re.search("Vegas",row["team"]):
            row["Metropolitan area"] = "Las Vegas"
        if re.search("Texas Rangers",row["team"]):
            row["Metropolitan area"] = "Dallas–Fort Worth"
        if re.search("Chicago",row["team"]):
            row["Metropolitan area"] = "Chicago"
        if re.search("Kansas City",row["team"]):
            row["Metropolitan area"] = "Kansas City"
        if re.search("San Diego",row["team"]):
            row["Metropolitan area"] = "San Diego"
        if re.search("Boston",row["team"]) or re.search("New England",row["team"]):
            row["Metropolitan area"] = "Boston"
        if re.search("Green Bay",row["team"]):
            row["Metropolitan area"] = "Green Bay"
        if re.search("New Orleans",row["team"]):
            row["Metropolitan area"] = "New Orleans"
        return row
    nfl_df = nfl_df.apply(city_associate,axis = 1)
    nfl_df["Metropolitan area"] = nfl_df["Metropolitan area"].replace("Dallas","Dallas–Fort Worth")
    nfl_df["Metropolitan area"] = nfl_df["Metropolitan area"].replace("Carolina","Raleigh")
    nfl_df["Metropolitan area"] = nfl_df["Metropolitan area"].replace("Colorado","Denver")
    nfl_df["Metropolitan area"] = nfl_df["Metropolitan area"].replace("Arizona","Phoenix")
    nfl_df["Metropolitan area"] = nfl_df["Metropolitan area"].replace("Tennessee","Nashville")
    nfl_df["Metropolitan area"] = nfl_df["Metropolitan area"].replace("Florida","Miami–Fort Lauderdale")
    nfl_df["Metropolitan area"] = nfl_df["Metropolitan area"].replace("Miami","Miami–Fort Lauderdale")
    nfl_df["Metropolitan area"] = nfl_df["Metropolitan area"].replace("Minnesota","Minneapolis–Saint Paul")
    nfl_df["Metropolitan area"] = nfl_df["Metropolitan area"].replace("Washington","Washington, D.C.")
    nfl_df = nfl_df[nfl_df["year"] == 2018]
    nfl_df = nfl_df[nfl_df["W"].str.isnumeric()]

    ratioTable = pd.merge(cities,nfl_df,how = "inner",on = "Metropolitan area")
    ratioTable = ratioTable[["Metropolitan area","Population (2016 est.)[8]","W","L"]]
    
    def calc_wl_ratio(group):
            ratio = np.sum(group["W"].astype(float))/(np.sum(group["W"].astype(float)) + np.sum(group["L"].astype(float)))
            num = group.shape[0]
            return pd.Series({
                "Metro" : group["Metropolitan area"].iloc[0],
                "wl_ratio" : ratio,
                "population" : group["Population (2016 est.)[8]"].iloc[0],
                "num" : num
            })
    ratioTable = ratioTable.groupby("Metropolitan area").apply(calc_wl_ratio).reset_index(drop = True)

    ratioTable = ratioTable.set_index("Metro")
    

    return ratioTable

In [10]:
def nba():
    # YOUR CODE HERE
    global nba_df
    global cities
    cities.replace("^[\s*—*\ *]$",np.nan,regex = True,inplace = True)
    cities.replace("\[.*\]","",regex = True,inplace = True)
    cities.replace("^$",np.nan,regex = True,inplace = True)
    cities["Metropolitan area"] = cities["Metropolitan area"].str.strip()
    cities.iloc[13,2] = np.nan
    def city_associate(row):
        if len(row["team"].split(" ")) == 2:
            row["Metropolitan area"] = row["team"].split(" ")[0]
        if re.search("New York",row["team"]) or re.search("New Jersey",row["team"]) or re.search("Brooklyn",row["team"]):
            row["Metropolitan area"] = "New York City"
        if re.search("Los Angeles",row["team"]) or re.search("Anaheim",row["team"]):
            row["Metropolitan area"] = "Los Angeles"
        if re.search("Toronto",row["team"]):
            row["Metropolitan area"] = "Toronto"
        if re.search("Detroit",row["team"]):
            row["Metropolitan area"] = "Detroit"
        if re.search("Tampa",row["team"]):
            row["Metropolitan area"] = "Tampa Bay Area"
        if re.search("Columbus",row["team"]):
            row["Metropolitan area"] = "Columbus"
        if re.search("San Jose",row["team"]) or re.search("Golden State Warriors",row["team"]):
            row["Metropolitan area"] = "San Francisco Bay Area"
        if re.search("St. Louis",row["team"]):
            row["Metropolitan area"] = "St. Louis"
        if re.search("Vegas",row["team"]):
            row["Metropolitan area"] = "Las Vegas"
        if re.search("Portland",row["team"]):
            row["Metropolitan area"] = "Portland"
        if re.search("Indiana",row["team"]):
            row["Metropolitan area"] = "Indianapolis"
        if re.search("Oklahoma City",row["team"]):
            row["Metropolitan area"] = "Oklahoma City"
        if re.search("New Orleans",row["team"]):
            row["Metropolitan area"] = "New Orleans"
        if re.search("San Antonio",row["team"]):
            row["Metropolitan area"] = "San Antonio"
        return row
    nba_df = nba_df.apply(city_associate,axis = 1)
    nba_df["Metropolitan area"] = nba_df["Metropolitan area"].replace("Dallas","Dallas–Fort Worth")
    nba_df["Metropolitan area"] = nba_df["Metropolitan area"].replace("Carolina","Raleigh")
    nba_df["Metropolitan area"] = nba_df["Metropolitan area"].replace("Colorado","Denver")
    nba_df["Metropolitan area"] = nba_df["Metropolitan area"].replace("Arizona","Phoenix")
    nba_df["Metropolitan area"] = nba_df["Metropolitan area"].replace("Florida","Miami–Fort Lauderdale")
    nba_df["Metropolitan area"] = nba_df["Metropolitan area"].replace("Miami","Miami–Fort Lauderdale")
    nba_df["Metropolitan area"] = nba_df["Metropolitan area"].replace("Minnesota","Minneapolis–Saint Paul")
    nba_df["Metropolitan area"] = nba_df["Metropolitan area"].replace("Washington","Washington, D.C.")
    nba_df["Metropolitan area"] = nba_df["Metropolitan area"].replace("Utah","Salt Lake City")

    nba_df = nba_df[nba_df["year"] == 2018]

    ratioTable = pd.merge(cities,nba_df,how = "inner",on = "Metropolitan area")
    ratioTable = ratioTable[["Metropolitan area","Population (2016 est.)[8]","W","L"]]
    def calc_wl_ratio(group):
            ratio = np.sum(group["W"].astype(float))/(np.sum(group["W"].astype(float)) + np.sum(group["L"].astype(float)))
            num = group.shape[0]
            return pd.Series({
                "Metro" : group["Metropolitan area"].iloc[0],
                "wl_ratio" : ratio,
                "population" : group["Population (2016 est.)[8]"].iloc[0],
                "num" : num
            })
    ratioTable = ratioTable.groupby("Metropolitan area").apply(calc_wl_ratio).reset_index(drop = True)

    ratioTable = ratioTable.set_index("Metro")

    

    return ratioTable

In [11]:
def nhl(): 
    # YOUR CODE HERE
    global nhl_df
    global cities
    cities.replace("^[\s*—*\ *]$",np.nan,regex = True,inplace = True)
    cities.replace("\[.*\]","",regex = True,inplace = True)
    cities.replace("^$",np.nan,regex = True,inplace = True)
    cities["Metropolitan area"] = cities["Metropolitan area"].str.strip()
    cities.iloc[13,2] = np.nan
    nhl_df = nhl_df[nhl_df["GP"].str.isnumeric()]
    def city_associate(row):
        global nhl_df
        global cities
        cities.replace("^[\s*—*\ *]$",np.nan,regex = True,inplace = True)
        cities.replace("\[.*\]","",regex = True,inplace = True)
        cities.replace("^$",np.nan,regex = True,inplace = True)
        cities["Metropolitan area"] = cities["Metropolitan area"].str.strip()
        cities.iloc[13,2] = np.nan
        nhl_df = nhl_df[nhl_df["GP"].str.isnumeric()]
        if len(row["team"].split(" ")) == 2:
            row["Metropolitan area"] = row["team"].split(" ")[0]
        if re.search("New York",row["team"]) or re.search("New Jersey",row["team"]):
            row["Metropolitan area"] = "New York City"
        if re.search("Los Angeles",row["team"]) or re.search("Anaheim",row["team"]):
            row["Metropolitan area"] = "Los Angeles"
        if re.search("Toronto",row["team"]):
            row["Metropolitan area"] = "Toronto"
        if re.search("Detroit",row["team"]):
            row["Metropolitan area"] = "Detroit"
        if re.search("Tampa",row["team"]):
            row["Metropolitan area"] = "Tampa Bay Area"
        if re.search("Columbus",row["team"]):
            row["Metropolitan area"] = "Columbus"
        if re.search("San Jose",row["team"]):
            row["Metropolitan area"] = "San Francisco Bay Area"
        if re.search("St. Louis",row["team"]):
            row["Metropolitan area"] = "St. Louis"
        if re.search("Vegas",row["team"]):
            row["Metropolitan area"] = "Las Vegas"
        return row
    nhl_df = nhl_df.apply(city_associate,axis = 1)
    nhl_df["Metropolitan area"] = nhl_df["Metropolitan area"].replace("Dallas","Dallas–Fort Worth")
    nhl_df["Metropolitan area"] = nhl_df["Metropolitan area"].replace("Carolina","Raleigh")
    nhl_df["Metropolitan area"] = nhl_df["Metropolitan area"].replace("Colorado","Denver")
    nhl_df["Metropolitan area"] = nhl_df["Metropolitan area"].replace("Arizona","Phoenix")
    nhl_df["Metropolitan area"] = nhl_df["Metropolitan area"].replace("Florida","Miami–Fort Lauderdale")
    nhl_df["Metropolitan area"] = nhl_df["Metropolitan area"].replace("Minnesota","Minneapolis–Saint Paul")
    nhl_df["Metropolitan area"] = nhl_df["Metropolitan area"].replace("Washington","Washington, D.C.")
    nhl_df = nhl_df[nhl_df["year"] == 2018]

    ratioTable = pd.merge(cities,nhl_df,how = "inner",on = "Metropolitan area")
    ratioTable = ratioTable[["Metropolitan area","Population (2016 est.)[8]","W","L"]]
    def calc_wl_ratio(group):
        ratio = np.sum(group["W"].astype(float))/(np.sum(group["W"].astype(float)) + np.sum(group["L"].astype(float)))
        return pd.Series({
            "Metro" : group["Metropolitan area"].iloc[0],
            "wl_ratio" : ratio,
            "population" : group["Population (2016 est.)[8]"].iloc[0],
        })
    ratioTable = ratioTable.groupby("Metropolitan area").apply(calc_wl_ratio).reset_index(drop = True)
    
    ratioTable = ratioTable.set_index("Metro")
    
    return ratioTable

In [12]:
def sports_team_performance():
    global mlb_df
    global nhl_df
    global nba_df
    global nfl_df
    # YOUR CODE HERE
    cities.replace("^[\s*—*\ *]$",np.nan,regex = True,inplace = True)
    cities.replace("\[.*\]","",regex = True,inplace = True)
    cities.replace("^$",np.nan,regex = True,inplace = True)
    cities["Metropolitan area"] = cities["Metropolitan area"].str.strip()
    cities.iloc[13,2] = np.nan
    nhl_df = nhl_df[nhl_df["GP"].str.isnumeric()]

    ratioTable_nba = nba()["wl_ratio"]

    ratioTable_mlb = mlb()["wl_ratio"]

    ratioTable_nfl = nfl()["wl_ratio"]

    ratioTable_nhl = nhl()["wl_ratio"]

    rel = [[np.nan for i in range(4)] for j in range(4)]

    temp = pd.merge(ratioTable_nfl,ratioTable_nba,left_index = True,right_index = True)
    rel[0][1] = stats.ttest_rel(temp["wl_ratio_x"],temp["wl_ratio_y"]).pvalue

    temp = pd.merge(ratioTable_nfl,ratioTable_nhl,left_index = True,right_index = True)
    rel[0][2] = stats.ttest_rel(temp["wl_ratio_x"],temp["wl_ratio_y"]).pvalue

    temp = pd.merge(ratioTable_nfl,ratioTable_mlb,left_index = True,right_index = True)
    rel[0][3] = stats.ttest_rel(temp["wl_ratio_x"],temp["wl_ratio_y"]).pvalue

    temp = pd.merge(ratioTable_nba,ratioTable_mlb,left_index = True,right_index = True)
    rel[1][3] = stats.ttest_rel(temp["wl_ratio_x"],temp["wl_ratio_y"]).pvalue

    temp = pd.merge(ratioTable_nba,ratioTable_nhl,left_index = True,right_index = True)
    rel[1][2] = stats.ttest_rel(temp["wl_ratio_x"],temp["wl_ratio_y"]).pvalue

    temp = pd.merge(ratioTable_nhl,ratioTable_mlb,left_index = True,right_index = True)
    rel[2][3] = stats.ttest_rel(temp["wl_ratio_x"],temp["wl_ratio_y"]).pvalue

    rel[1][0] = rel[0][1]
    rel[3][0] = rel[0][3]
    rel[3][1] = rel[1][3]
    rel[3][2] = rel[2][3]
    rel[2][1] = rel[1][2]
    rel[2][0] = rel[0][2]
    
    # Note: p_values is a full dataframe, so df.loc["NFL","NBA"] should be the same as df.loc["NBA","NFL"] and
    # df.loc["NFL","NFL"] should return np.nan
    sports = ['NFL', 'NBA', 'NHL', 'MLB']
    p_values = pd.DataFrame(rel, index=sports,columns = sports)
    
    assert abs(p_values.loc["NBA", "NHL"] - 0.02) <= 1e-2, "The NBA-NHL p-value should be around 0.02"
    assert abs(p_values.loc["MLB", "NFL"] - 0.80) <= 1e-2, "The MLB-NFL p-value should be around 0.80"
    return p_values

In [13]:
sports_team_performance()

          NFL       NBA       NHL       MLB
NFL       NaN  0.940611  0.024777  0.802384
NBA  0.940611       NaN  0.022316  0.951046
NHL  0.024777  0.022316       NaN  0.000712
MLB  0.802384  0.951046  0.000712       NaN

In [14]:
nba()

                        wl_ratio population  num
Metro
Atlanta                 0.292683    5789700    1
Boston                  0.670732    4794447    1
Charlotte               0.439024    2474314    1
Chicago                 0.329268    9512999    1
Cleveland               0.609756    2055612    1
Dallas–Fort Worth       0.292683    7233323    1
Denver                  0.560976    2853077    1
Detroit                 0.475610    4297617    1
Houston                 0.792683    6772470    1
Indianapolis            0.585366    2004230    1
Los Angeles             0.469512   13310447    2
Memphis                 0.268293    1342842    1
Miami–Fort Lauderdale   0.536585    6066387    1
Milwaukee               0.536585    1572482    1
Minneapolis–Saint Paul  0.573171    3551036    1
New Orleans             0.585366    1268883    1
New York City           0.347561   20153634    2
Oklahoma City           0.585366    1373211    1
Orlando                 0.304878    2441257    1
Philadelphia            0.634146    6070500    1
Phoenix                 0.256098    4661537    1
Portland                0.597561    2424955    1
Sacramento              0.329268    2296418    1
Salt Lake City          0.585366    1186187    1
San Antonio             0.573171    2429609    1
San Francisco Bay Area  0.707317    6657982    1
Toronto                 0.719512    5928040    1
Washington, D.C.        0.524390    6131977    1